# CrewAI framework
crewai==0.130.0
crewai-tools==0.47.1

# API server
fastapi==0.110.3
uvicorn[standard]

# Environment variables
python-dotenv

# PDF processing (needed for Pdf loader bug we will fix next)
pypdf
pdfplumber

# Utilities automatically resolved
pydantic>=2.4.2